---
layout: default
title: Accueil
---
<section id="post-list">
	<header>
		<h1>Liste des billets</h1>
		<p>{{site.posts.size}} billets du {{ site.posts.last.date | date:"%d/%m/%Y" }} au {{ site.posts.first.date | date:"%d/%m/%Y" }}.</p>
	</header>
	{% for post in site.posts %}
	<article class="blog-post list">
		<header>
			<h1 class="blog-post-title"><a href="{{site.base_url}}{{post.url}}" title="Lire l'article {{post.title}}">{{post.title}}</a></h1>
			<time class="blog-post-meta" datetime="{{ post.date | date:"%Y-%m-%dT%H:%M:%S+02:00" )}}" pubdate> &mdash; {{ post.date | date:"%d/%m/%Y") }}</time>
		</header>
		<div class="post-excerpt">
			{% if post.excerpt != null %}
				{{post.excerpt}}
				<a href="{{site.base_url}}{{post.url}}" title="Lire l'article {{post.title}}" class="remainder">Lire la suite...</a>
			{% else %}
				{{post.content}}
			{% endif %}
		</div>
	</article>
	{% endfor %}
</section>
