---
layout: default
---
<nav id="index_nav">
	<a href="{{site.base_url}}/index.html" title="Retourner à la liste des articles">Retour à la liste des articles</a>
</nav>

<article class="blog-post">
	<header>
		<h1 class="blog-post-title">{{page.title}}</h1>
		<time class="blog-post-meta" datetime="{{page.date | date:"%Y-%m-%dT%H:%M:%S+02:00")}}" pubdate>Le {{page.date | date:"%d/%m/%Y")}}</time>
		<dl>
			<dt>Catégorie</dt>
			{% for category_hash in page.category %}
			{% for category in category_hash %}
				<dd><a href="{{site.base_url}}/category/{{category[1]}}" title="Billets de la catégorie '{{category[0]}}'">{{category[0]}}</a></dd>
			{% endfor %}
			{% endfor %}
			<dt>Tags</dt>
			<dd>
			{% for tag_hash in page.tags %}
			{% for tag in tag_hash %}
				<a href="{{site.base_url}}/tag/{{tag[1]}}" title="Billets taggés {{tag[0]}}">{{tag[0]}}</a>
			{% endfor %}
			{% endfor %}
			</dd>
		</dl>
	</header>
	{{content}}
</article>
